{{- $is_work := false -}}
{{- if eq .chezmoi.os "darwin" -}}
{{- /* macOS is always work (Apple Silicon) */}}
{{-   $is_work = true -}}
{{- else if eq .chezmoi.osRelease.id "ol" -}}
{{- /* Oracle Enterprise Linux 9 is work */}}
{{-   $is_work = true -}}
{{- else if eq .chezmoi.osRelease.id "arch" -}}
{{- /* Omarchy (Arch-based) is personal */}}
{{-   $is_work = false -}}
{{- else -}}
{{-   $is_work = promptBoolOnce . "is_work" "Is this a work machine" -}}
{{- end }}

[data]
  is_work = {{ $is_work }}

{{- if $is_work }}

[data.jira]
  pat = {{ promptStringOnce .jira "pat" "Jira personal access token" | quote }}
{{- end }}
