{{- $is_work := promptBoolOnce . "is_work" "Is this a work machine" -}}

[data]
  is_work = {{ $is_work }}
  raindrop_token = {{ promptStringOnce . "raindrop_token" "Raindrop.io API token" | quote }}

{{- if $is_work }}

[data.jira]
  pat = {{ promptStringOnce . "jira_pat" "Jira personal access token" | quote }}
{{- end }}
