{{- $okta_password := onepasswordRead "op://Private/Okta/password" -}}
{
    "profiles": [
        {
            "name": "Default profile",
            "selected": true,
            "virtual_hid_keyboard": {
                "keyboard_type_v2": "ansi"
            },
            "complex_modifications": {
                "rules": [
                    {
                        "description": "Type Okta password with Right Option+P",
                        "manipulators": [
                            {
                                "type": "basic",
                                "from": {
                                    "key_code": "p",
                                    "modifiers": {
                                        "mandatory": [
                                            "right_option"
                                        ]
                                    }
                                },
                                "to": [
                                    {
                                        "shell_command": "osascript -e 'tell application \"System Events\" to keystroke \"{{ $okta_password }}\"'"
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        }
    ]
}
